.main-btn {
    background-color: rgba(250, 235, 215, 0.705);
    height: 5vh;
    position: sticky;
    top: 90vh;
    margin-left: -10px;
    display: flex;
    padding: 0.2%;
    border: 1px solid black;
    border-radius: 5px;
}

.main {
    color: aliceblue;
    text-align: center;
    background-image: url(../img/2background.jpeg);
    background-size: contain;
    margin: 5%;
}

.advice {
    color: blanchedalmond;
    font-size: 1.5em;
    text-align: center;
}

.advice__gif {
    width: 45vw;
}

.text {
    font-family: "Comfortaa", serif;
    font-size: 1em;
    font-weight: 300;
}

.title {
    font-family: "Comfortaa", serif;
    font-size: 1.2em;
    font-weight: 700;
}

.comforter-regular {
    font-family: "Comforter", cursive;
    font-size: 2em;
    font-weight: 500;
}

.arcana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arcana__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 5%;
    margin: 1% auto;
    color: aliceblue;
    font-size: 0.8em;
    word-break: break-all;
}

.arcana__img {
    margin-bottom: 15%;
    width: 20vw;
}

.arcana-value {
    margin: 5% auto;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .main {
        background-image: url(../img/1background.jpeg);
    }

    .advice {
        font-size: 2em;
    }

    .advice__gif {
        width: 35vw;
    }

    .text {
        font-size: 1.2em;
    }

    .title {
        font-size: 1.5em;
    }

    .comforter-regular {
        font-size: 3em;
    }

    .arcana__link {
        font-size: 1em;
    }
}

@media screen and (min-width: 1280px) {
    .main {
        background-image: url(../img/0background.jpeg);
    }

    .advice {
        font-size: 3em;
    }

    .advice__gif {
        width: 20vw;
    }

    .text {
        font-size: 1.5em;
    }

    .title {
        font-size: 2em;
    }

    .comforter-regular {
        font-size: 4em;
    }

    .arcana__link {
        font-size: 1.3em;
    }

    .arcana__img {
        width: 12vw;
    }

    .arcana-value {
        margin: 15% auto;
        padding: 5%;
    }
}
