.main-bt {
    background-color: rgba(250, 235, 215, 0.705);
    height: 3vh;
    position: sticky;
    top: 80vh;
    margin-left: -80px;
    display: flex;
    padding: 0.2%;
    border: 1px solid black;
    border-radius: 10%;
}

.main {
    text-align: center;
    color: aliceblue;
    background-image: url(../img/background.jpeg);
    background-size: contain;
    margin: 5%;
}

.text {
    font-family: "Comfortaa", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}

.title {
    font-family: "Comfortaa", serif;
    font-weight: 700;
    font-style: normal;
}

.comforter-regular {
    font-family: "Comforter", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
}

.arcana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arcana__link {
    display: flex;
    flex-direction: column;
    width: 10vw;
    margin: 1% auto;
    color: aliceblue;
}

.arcana__img {
    margin-bottom: 15%;
}

.arcana-value {
    margin: 15% auto;
    padding: 5%;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 10%;
}
