.main-bt {
    background-color: rgba(250, 235, 215, 0.705);
    height: 5vh;
    position: sticky;
    top: 90vh;
    margin-left: -10px;
    display: flex;
    padding: 0.2%;
    border: 1px solid black;
    border-radius: 5px;
}

.main {
    text-align: center;
    color: aliceblue;
    background-image: url(../img/2background.jpeg);
    background-size: contain;
    margin: 5%;
}

.text {
    font-family: "Comfortaa", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}

.title {
    font-family: "Comfortaa", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
}

.comforter-regular {
    font-family: "Comforter", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
}

.arcana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arcana__link {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 5%;
    margin: 1% auto;
    word-break: break-all;
    font-size: 0.7em;
    color: aliceblue;
}

.arcana__img {
    margin-bottom: 15%;
}

.arcana-value {
    margin: 5% 15px;
    padding: 1%;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .main {
        background-image: url(../img/1background.jpeg);
    }

    .arcana__link {
        font-size: 1em;
    }
}

@media screen and (min-width: 1280px) {
    .main {
        background-image: url(../img/0background.jpeg);
    }

    .title {
        font-size: 2.5em;
    }

    .comforter-regular {
        font-size: 2.5em;
    }

    .arcana__link {
        font-size: 1.3em;
    }

    .arcana__img {
        width: 10vw;
        margin: 5% auto;
    }

    .arcana-value {
        margin: 15% auto;
        padding: 5%;
        width: 50vw;
    }
}
